<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Cindie</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <img src="img/headshot.png" alt="" style="max-width: 100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">Cindie is a Registered Professional Counsellor and has a Masters degree in Counselling Psychology. She works predominantly with individuals ranging in age from adolescence to adulthood who are experiencing anxiety, depression, bullying, grief and loss, intimate partner violence, relationship and parenting issues and trauma as well as other areas.  Cindie is passionate about empowering individuals to find strength and hope in their lives.<br/><br/>
                Prior to her counselling practice she worked with adults and youth in violence and abuse prevention programming with a focus on child abuse, bullying and healthy relationships. She presented to audiences dealing with these issues through out the province.<br/><br/>
                Group presentations and phone consults are available upon request.<br/><br/>
                Cindie is welcoming to all faith backgrounds and gender identities, and believes in creating a culturally safe space for clients.<br/><br/>
                For more information please contact me or set up a phone consult. </p>
                <a href="#contact" class="btn btn-default btn-xl">Contact me!<br/><br/></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Chelsey Gareau</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <img src="img/intern.jpg" alt="" style="max-width: 100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded"> Pain, heartache and suffering is not something anyone anticipates experiencing. When it comes out of no-where it may seem too unbearable to handle. Individuals may suppress what they are feeling, behave in ways they never thought they would, and/or experience secondary symptoms that mask what is truly going on.<br/><br/>
                Whether it is the initial pain you are experiencing and/or years of wear and tear, please know that there is help available to you. With experience and extensive training in Marriage and Family Therapy, I am passionate about helping clients from all walks of life. I would be honoured to help you make sense of your experiences.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact me!</a>
            </div>
        </div>
    </div>
</section>
