<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="light">
                <p class="text-faded">For more information please contact me to set up an appointment or a phone consult.</p>
            </div>
        </div>
        <div class="row">
            <!--<div id="wufoo-z34duig0r8yewx">-->
                <!--Fill out my <a href="https://joshneudorf.wufoo.com/forms/z34duig0r8yewx">online form</a>.-->
            <!--</div>-->
            <!--<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>-->
            <!--<script type="text/javascript">var z34duig0r8yewx;(function(d, t) {-->
            <!--var s = d.createElement(t), options = {-->
            <!--'userName':'joshneudorf',-->
            <!--'formHash':'z34duig0r8yewx',-->
            <!--'autoResize':true,-->
            <!--'height':'515',-->
            <!--'async':true,-->
            <!--'host':'wufoo.com',-->
            <!--'header':'show',-->
            <!--'ssl':true-->
            <!--};-->
            <!--s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';-->
            <!--s.onload = s.onreadystatechange = function() {-->
            <!--var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;-->
            <!--try { z34duig0r8yewx = new WufooForm();z34duig0r8yewx.initialize(options);z34duig0r8yewx.display();  } catch (e) {}-->
            <!--};-->
            <!--var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);-->

            <!--})(document, 'script');</script>-->

            {% if site.phone_number %}
            <div class="col-lg-4 col-md-8 text-center">
                <a href="tel:{{ site.phone_number  }}">
                    <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="text-faded">{{ site.phone_number }}</p>
                </a>
            </div>
            {% endif %}
            <div class="col-lg-4 col-md-8 text-center" style="color:grey;">
                <form method="POST" action="https://formspree.io/clneudorf@shaw.ca">
                    <input name="email" placeholder="Your email" type="email" style="width: 100%;">
                    <textarea name="message" placeholder="Your message" style="width: 100%;"></textarea>
                    <button type="submit" style="width: 100%;">Send</button>
                </form>
            </div>
            {% if site.email %}
            <div class="col-lg-4 col-md-8 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="text-faded">{{ site.email }}</p>
                </a>
            </div>
            {% endif %}
            {% if site.calendar_link %}
            <div class="col-lg-4 col-md-8 text-center">
                <a href="{{ site.calendar_link }}">
                <i class="fa fa-calendar fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="text-faded">{{ site.calendar_link }}</p>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
