<section class="bg-secondary" id="directions">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Directions</h2>
                <hr class="dark">
                <p class="text-dark">My office is in the <strong>Urban Equity Centre</strong>, which is at the base of the <strong>J.B. Black Estates Building</strong> on College Drive, across from the entrance to the Royal University Hospital. Parking and entrance are behind the building, accessible through the back alley.<br><br>Please be sure to park in the spots designated for <strong>Urban Equity Centre</strong>. Parking is free, but please do not park in the stalls listed as 'Private Parking'.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <img src="img/directions/1.jpg" alt="" style="border:2px solid grey;max-width: 100%;">
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img src="img/directions/2.jpg" alt="" style="border:2px solid grey;max-width: 100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <img src="img/directions/3.jpg" alt="" style="border:2px solid grey;max-width: 100%;">
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img src="img/directions/4.jpg" alt="" style="border:2px solid grey;max-width: 100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<img src="https://maps.googleapis.com/maps/api/staticmap?center=101%20-%201132%20College%20Drive%20saskatoon&markers=color:blue|101%20-%201132%20College%20Drive%20saskatoon&zoom=15&size=300x200&scale=2&sensor=false&visual_refresh=true" alt="" style="border:2px solid grey;max-width: 100%;">-->
                <img src="img/directions/staticmap.png" alt="" style="border:2px solid grey;max-width: 100%;">
            </div>
        </div>
    </div>
</section>
