<section class="bg-primary" id="expect">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What to expect from counselling</h2>
                <hr class="light">
                <p class="text-faded">Making an appointment for counselling can be overwhelming so here’s a brief description of what to expect when you come in for your first appointment. The initial session will require about 10-15 minutes to fill out an intake form. We will take some time to discuss confidentiality and limitations of confidentiality. From there I will take some time to understand what brings you in for counselling. I am very client focused in my approach so I like to focus on what your needs are and how I can help you to set goals and provide you with tools and supportive resources to meet those goals. Its important to me that you experience a safe and welcoming environment; your feedback is always welcome as we work through the process together.<br/><br/>
                I hope this helps to alleviate some of the stress of coming for counselling. I believe that mental health should be preventive and supportive; we go to our doctors when we need a check up why not approach counselling in the same way and take the step towards overall physical, mental, emotional and spiritual wellbeing. You are worth it. </p>
            </div>
        </div>
    </div>
</section>
