<section id="memberships">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cindie's Professional Memberships</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/logos/CPCA.png" class="wow bounceIn" width=33%</img>
                    <h3>Canadian Professional Counselling Association</h3>
                    <p class="text-muted">Registered Professional Counsellor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/logos/CCPCP.png" class="wow bounceIn" width=33% data-wow-delay=".1s"</img>
                    <h3>Canadian College of Professional Counsellors & Psychotherapists</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/logos/PrepareEnrich.png" class="wow bounceIn" width=33% data-wow-delay=".2s"</img>
                    <h3>Certified Prepare/Enrich Premarital Preparation Programs for couples</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/logos/ARETE.png" class="wow bounceIn" height=33% data-wow-delay=".3s"</img>
                    <h3>Arête Human Resources Employee Assistance Program</h3>
                    <p class="text-muted">Authorized Provider<br/><br/></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Chelsey's Professional Memberships</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Professional Association of Christian Counsellors & Psychotherapists</h3>
                    <p class="text-muted">Membership #: 545SK13</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>American Association of Marriage & Family Therapists</h3>
                    <p class="text-muted">Membership #: 172354</p>
                </div>
            </div>
        </div>
    </div>
</section>
