<section class="bg-primary" id="quotes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quotes</h2>
                <hr class="light">
                <i class="fa fa-4x fa-quote-left wow bounceIn text-faded"></i>
                <h3>Carl Jung</h3>
                <i class="text-faded">Where love rules, there is no will to power; and where power predominates, there, love is lacking. The one is the shadow of the other.</i>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-4x fa-quote-left wow bounceIn text-faded"></i>
                <h3>Dr. Martin Luther King Jr.</h3>
                <i class="text-faded">Our lives begin to end the day we become silent about the things that matter.</i>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-4x fa-quote-left wow bounceIn text-faded"></i>
                <h3>Psalm 91:1</h3>
                <i class="text-faded">He who dwells in the shelter of the Most High will rest in the shadow of the Almighty.</i>
            </div>
        </div>
    </div>
</section>
