<section id="resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Resources</h2>
                <hr class="dark">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#resources" class="portfolio-box">
                    <img src="img/resources/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Paul Gilligan
                            </div>
                            <div class="project-name">
                                Raising Emotionally Health Children
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#resources" class="portfolio-box">
                    <img src="img/resources/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jane Nelsen
                            </div>
                            <div class="project-name">
                                Positive Discipline
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#resources" class="portfolio-box">
                    <img src="img/resources/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Henry Cloud & John Townsend
                            </div>
                            <div class="project-name">
                                Boundaries
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
