<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <h3 class="section-heading">Areas of Practice</h3>
                    <div class="text-faded text-left">
                        <li>
                        Anxiety
                        </li>
                        <li>
                        Depression
                        </li>
                        <li>
                        Stress and Stress Management
                        </li>
                        <li>
                        Self-harm Behavior
                        </li>
                        <li>
                        Intimate Partner Violence
                        </li>
                        <li>
                        Building Healthy Relationships
                        </li>
                        <li>
                        Parenting Issues
                        </li>
                        <li>
                        Obsessive Compulsive Disorder
                        </li>
                        <li>
                        Trauma and Post Traumatic Stress Disorder
                        </li>
                        <li>
                        Trauma Informed Art Therapy
                        </li>
                        <li>
                        Bullying/Harassment
                        </li>
                        <li>
                        Faith-based/Spiritual Counselling
                        </li>
                        <li>
                        Effective Communication
                        </li>
                        <li>
                        Conflict Resolution
                        </li>
                        <li>
                        Grief and Loss
                        </li>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <h3 class="section-heading">Approaches</h3>
                    <div class="text-faded text-left">
                        <li>
                        Client Centered
                        </li>
                        <li>
                        Adlerian
                        </li>
                        <li>
                        Cognitive Behavioral Therapy
                        </li>
                        <li>
                        Trauma Informed and Trauma Informed Art Therapy
                        </li>
                        <li>
                        Solution Focused
                        </li>
                        <li>
                        Short Term and Long Term Counselling
                        </li>
                        <li>
                        Psychoeducational
                        </li>
                        <li>
                        Psychodynamic
                        </li>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <h3 class="section-heading">Professional Development</h3>
                    <div class="text-faded text-left">
                        <li>
                        Trauma informed Art therapy intensive (spring 2016)
                        </li>
                        <li>
                        Trauma therapy level 1 - Sept 2015-June 2016
                        </li>
                        <li>
                        CBT intensive
                        </li>
                        <li>
                        Neurobiological
                        </li>
                        <li>
                        Self-harm workshop
                        </li>
                        <li>
                        AASAT Partners in Recovery - in progress
                        </li>
                        <li>
                        Gottman Couples Training - in progress
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <h3 class="section-heading">Chelsey's Areas of Practice</h3>
                    <div class="text-faded text-left">
                        <li>
                        Anxiety
                        </li>
                        <li>
                        Depression
                        </li>
                        <li>
                        Stress
                        </li>
                        <li>
                        Chronic Illness
                        </li>
                        <li>
                        Grief
                        </li>
                        <li>
                        Crisis Intervention
                        </li>
                        <li>
                        Marital Conflict
                        </li>
                        <li>
                        Intergenerational (Family) Conflict
                        </li>
                        <li>
                        Divorce
                        </li>
                        <li>
                        Custody Issues
                        </li>
                        <li>
                        Abuse
                        </li>
                        <li>
                        Reconciliation & Forgiveness
                        </li>
                        <li>
                        Identity Issues
                        </li>
                        <li>
                        Life Transitions
                        </li>
                        <li>
                        Career Assessment
                        </li>
                        <li>
                        Career Planning
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
