<section id="training">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cindie's Professional Training</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                    <h3>Master of Arts</h3>
                    <p class="text-muted">Counselling Psychology</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Bachelor of Arts</h3>
                    <p class="text-muted">Social Development Studies</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-certificate wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Certificate</h3>
                    <p class="text-muted">General Social Work</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-certificate wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Certificate</h3>
                    <p class="text-muted">Studies of Child Abuse<br/><br/></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Chelsey's Professional Training</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                    <h3>Masters of Marriage & Family Counseling</h3>
                    <p class="text-muted">Briercrest College & Seminary (Student)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Bachelor of Arts in Psychology</h3>
                    <p class="text-muted">University of Saskatchewan (2009)</p>
                </div>
            </div>
        </div>
    </div>
</section>
